# Terraform state files
*.tfstate
*.tfstate.*

# Terraform backup files
*.tfstate.backup
*.lock.hcl
# Terraform variable files
*.tfvars

# Terraform provider cache and plugin files
.terraform/

# Editor and OS specific files
.DS_Store
.idea/
*.swp
*.swo

# Additional files
*.log
*.pem
*.key
*.crt
